[Unit]
Description=Hacklab IRC notices
After=ircbot.target

[Service]
Type=simple
User=tracker
Group=tracker
ExecStart=/home/tracker/visitors/irc_notifier

[Install]
WantedBy=multi-user.target
