[Unit]
Description=Visitor tracking IRC bot
After=network.service

[Service]
Type=simple
User=tracker
Group=tracker
ExecStart=/home/tracker/start_ii
Restart=always
RestartSec=3min

[Install]
WantedBy=multi-user.target
