[Unit]
Description=Hacklab social media notifys
After=ircbot.target

[Service]
Type=simple
User=tracker
Group=tracker
ExecStart=/home/tracker/visitors/notifier LocalizationHacklabJkl

[Install]
WantedBy=multi-user.target
