[Unit]
Description=Hacklab social media notifys

[Service]
Type=simple
User=tracker
Group=tracker
ExecStart=/home/tracker/visitors/notifier

[Install]
WantedBy=multi-user.target
