[Unit]
Description=DHCP visitor tracker

[Service]
Type=simple
User=tracker
Group=tracker
ExecStart=/home/tracker/visitors/follow_dhcp

[Install]
WantedBy=multi-user.target
